h1 {
	font-size: 16pt;
	line-height: 120%;
	margin-bottom: 10px;
}

#success {
	display: none;
}

#answerUrl,#statUrl {
	width: 600px;
}

#pwdForm {
	display: none;
}

footer {
	text-align: right;
	color: #ccc;
}

#home_link{
	margin: 10px 0;
	padding-left: 0;
}

#stats_graph td{
	border: 0;
}